.Yes {
    list-style: none;
    margin-left: 160px;
    margin-top: 0;
    font-size: 18px;
    color: rgb(3,37,65);
    margin-right: 40px;
}

.Reviews {
    border: 1px solid white;
    padding: 20px;
    color: white;
    background-color: rgb(3,37,65);;
}