.Dont {
    margin-left: 160px;
    margin-top: 0;
    font-size: 24px;
    color: rgb(3,37,65);
}

.Yes {
    list-style: none;
    margin-left: 160px;
    margin-top: 0;
    font-size: 24px;
    color: rgb(3,37,65);    
}

